@import "reset.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Inter", sans-serif;
  color: #777777;
}
.container {
  margin: 0px auto;
  padding-left: 32px;
  max-width: 1350px;
}
/* --------------Header----------------- */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  padding-top: 32px;
  padding-right: 32px;
}
.header-logo {
  height: 36px;
}
.nav-element {
  display: none;
  height: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #555555;
}
.nav-element-4 {
  color: #ff3998;
}

/* --------------Hero------------------- */
.signup-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: 80px;
}
.signup-container-2 {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.signup-img-1 {
  min-width: 250px;
  max-width: 651px;
}
.signup-text-box-2 {
  min-width: 220px;
}
.signup-text-box {
  min-width: 274px;
  max-height: 519px;
}
.signup-s-tite {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ff3998;
  letter-spacing: 1.5px;
  margin-bottom: 24px;
}
.signup-title {
  font-size: 48px;
  line-height: 59px;
  font-weight: 900;
  color: #111111;
  margin-bottom: 24px;
}
.signup-title-2 {
  font-size: 56px;
  line-height: 68px;
  font-weight: 900;
  color: #111111;
  margin-bottom: 24px;
}

.signup-paragraph {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 32px;
  color: #555555;
  margin-bottom: 35px;
}

/* ------------------button----- */
.button {
  color: #555555;
  border: none;
  width: 188px;
  height: 75px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  background: white;
  margin: 4px;
}

.button::after {
  position: absolute;
  content: "";
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  z-index: -1;
  background: url("../assets/background.svg");
  background-size: cover;
  border-radius: 50px;
}
/* ---------------------offer--------------- */

.offer-container {
  height: 316px;
  background-image: url(/assets/background.svg);
  padding: 122px 32px 32px;
  max-width: 1280px;
  margin: 0px auto;
  border-radius: 16px;
  margin-bottom: 64px;
}
.offer-title {
  font-size: 40px;
  line-height: 48.5px;
  font-weight: 500;
  color: #111111;
  padding-bottom: 12px;
}
.offer-subtitle {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #111111;
}
/* -------------------Press----------- */
.press-container {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  margin-bottom: 56px;
}
.press-img {
  height: 40px;
  width: 45%;
  flex-grow: 1;
}
.press-img-4 {
  display: none;
}
/* ----------------Cards-------------------- */
.showcase-title {
  font-size: 40px;
  line-height: 48.5px;
  font-weight: 500;
  color: #111111;
  margin-bottom: 16px;
}
.showcase-subtitle {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #555555;
  margin-bottom: 40px;
}
.OpenSea {
  color: #111111;
  border-bottom: solid 2px #111111;
}
.showcase-container {
  margin-bottom: 92px;
}
.card-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 92px;

  column-gap: 40px;
  overflow: hidden;
}
.card {
  width: 290px;
  height: 400px;
  border-radius: 16px;

  background-color: #eeeeee;
}

.card-box-text {
  display: flex;
  flex-direction: row;
  padding: 16px 24px 24px;
  justify-content: space-between;
}
.card-box-text-right {
  text-align: right;
}
.card-box-text-left {
  text-align: left;
}

.cbt-1line-left {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  color: #ff8139;
}
.cbt-1line-right {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
}
.cbt-2line {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  color: #111111;
}
.cbt-3line {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

/* ---------------footer------------- */
.footer-logo-container {
  display: flex;
  flex-direction: column;

  text-align: left;
  margin-bottom: 64px;
}
.footer-logo {
  height: 36px;
  width: 198px;
  margin-bottom: 30px;
}
.footer-logo-txt {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #555555;
  margin-bottom: 32px;
}
.footer-logo-icons {
  display: flex;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #555555;
  gap: 18px;
}
.footer-about-nft {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.footer-about {
  width: 45%;
}
.footer-nft {
  width: 45%;
}
.footer-contact-social {
  display: flex;
  flex-direction: row;
  margin-bottom: 64px;
}
.footer-contact {
  width: 45%;
}
.footer-social {
  width: 45%;
}
.footer-heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #555555;
  margin-bottom: 28px;
}
.footer-txt {
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
  color: #555555;
}
.footer-copyright-txt {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #999999;
  margin-bottom: 105px;
}
/* ---------line-------- */
.line {
  height: 2px;
  background-color: #eeeeee;
  margin-bottom: 64px;
}
/* --------------------------------- */
/* ------------Media 768-------------------- */
@media screen and (min-width: 768px) {
  .nav-element {
    display: initial;
  }
  .nav-burger {
    display: none;
  }
  /* -------------------Press----------- */
  .press-container {
    flex-wrap: nowrap;
    gap: 10px;
  }
  .press-img {
    width: 90%;
  }
  .card-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 90px;
  }
  .card {
    justify-content: center;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-logo-container {
    flex-basis: 33%;
  }
  .footer-about-nft {
    flex-basis: 33%;
  }
  .footer-contact-social {
    flex-basis: 33%;
  }
  .footer-copyright {
    flex-basis: 100%;
  }
  .footer-logo-txt {
    margin-bottom: 0px;
  }
  .footer-copyright-txt {
    margin-bottom: 50px;
  }
}
/* --------------------------------- */
/* ------------Media 1440-------------------- */
@media screen and (min-width: 1440px) {
  .press-img-4 {
    display: initial;
  }

  .signup-title {
    font-size: 96px;
    line-height: 116px;
  }
  .signup-text-box-2 {
    width: 850px;
  }
  .signup-container {
    margin-bottom: 0px;
  }
  .card-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 25px;
  }
  .footer-logo-container {
    flex-basis: 50%;
  }
  .footer-about-nft {
    flex-basis: 25%;
  }
  .footer-contact-social {
    flex-basis: 25%;
    padding-left: 0px;
  }
}
